# VSCode
.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc[cod]

# Build
build/*

# Doc
*.pdf
*.docx
tex2pdf*/*

#tmp
tmp/*
temp_*/*
*/temp_*/*

# original code
people.sc.fsu.edu

# exe code
*/*.exe
*/*.o

# CMake
*/cmake.check_cache
*/cmake_install.cmake
*/CMakeCache.txt
*/CMakeFiles
*/MakeFile
